<div class="wrapper">
  <div class="vl-section block cap">
    <h1 class="center">ng-virtual-scroll-view</h1>
    <p class="l m" style="margin-bottom: 0;">&#64;author: Evgenii Grebennikov</p>
    <p class="l m">djonnyx&#64;gmail.com</p>
    <img class="logo" [src]="logo" />
    <div class="version"><span>v 20.12.4-beta-1</span></div>
  </div>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Virtual scroll view (both directions)</h2>
      <ng-virtual-scroll-view #scrollView class="scroll-view" direction="both"
        [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams"
        [motionBlurEnabled]="motionBlurEnabled" [scrollbarEnabled]="true" [scrollbarThickness]="6"
        (onScrollReachStart)="onScrollReachStartHandler()" (onScrollReachEnd)="onScrollReachEndHandler()">
        <div class="scroll-view__background" [style.width.px]="3000" [style.height.px]="3000"
          [class.grabbing]="scrollView.$grabbing | async"></div>
      </ng-virtual-scroll-view>
    </div>
  </div>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Virtual scroll view (vertical)</h2>
      <ng-virtual-scroll-view #scrollView class="scroll-view" direction="vertical"
        [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams"
        [motionBlurEnabled]="motionBlurEnabled" [scrollbarEnabled]="true" [scrollbarThickness]="6" [overlappingScrollbar]="true"
        (onScrollReachStart)="onScrollReachStartHandler()" (onScrollReachEnd)="onScrollReachEndHandler()">
        <div class="scroll-view__background" [style.width.px]="3000" [style.height.px]="3000"
          [class.grabbing]="scrollView.$grabbing | async"></div>
      </ng-virtual-scroll-view>
    </div>
  </div>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Virtual scroll view (horizontal)</h2>
      <ng-virtual-scroll-view #scrollView class="scroll-view" direction="horizontal"
        [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams"
        [motionBlurEnabled]="motionBlurEnabled" [scrollbarEnabled]="true" [scrollbarThickness]="6" [overlappingScrollbar]="true"
        (onScrollReachStart)="onScrollReachStartHandler()" (onScrollReachEnd)="onScrollReachEndHandler()">
        <div class="scroll-view__background" [style.width.px]="3000" [style.height.px]="3000"
          [class.grabbing]="scrollView.$grabbing | async"></div>
      </ng-virtual-scroll-view>
    </div>
  </div>

  <ng-template #customScrollBarThumb let-api="api" let-width="width" let-height="height"
    let-fillPositions="fillPositions" let-params="params">
    <custom-scrollbar [api]="api" [width]="width" [height]="height" [fillPositions]="fillPositions"
      [params]="params"></custom-scrollbar>
  </ng-template>
</div>