<div class="wrapper">
  <div class="vl-section block cap">
    <h1 class="center">ng-virtual-scroll-view</h1>
    <p class="l m" style="margin-bottom: 0;">&#64;author: Evgenii Grebennikov</p>
    <p class="l m">djonnyx&#64;gmail.com</p>
    <img class="logo" [src]="logo" />
    <div class="version"><span>v 18.12.7</span></div>
  </div>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Both directions</h2>
      <ng-virtual-scroll-view #scrollView1 class="scroll-view" direction="both"
        [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams"
        [motionBlurEnabled]="motionBlurEnabled" [scrollbarEnabled]="true" [scrollbarThickness]="6"
        (onScrollReachStart)="onScrollReachStartHandler()" (onScrollReachEnd)="onScrollReachEndHandler()">
        <div class="scroll-view__background" [style.width.px]="3000" [style.height.px]="3000"
          [class.grabbing]="scrollView1.$grabbing | async"></div>
      </ng-virtual-scroll-view>
    </div>
  </div>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>In both directions and from right to left</h2>
      <ng-virtual-scroll-view #scrollView2 class="scroll-view" direction="both" langTextDir="rtl"
        [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams"
        [motionBlurEnabled]="motionBlurEnabled" [scrollbarEnabled]="true" [scrollbarThickness]="6"
        (onScrollReachStart)="onScrollReachStartHandler()" (onScrollReachEnd)="onScrollReachEndHandler()">
        <div class="scroll-view__background" [style.width.px]="3000" [style.height.px]="3000"
          [class.grabbing]="scrollView2.$grabbing | async"></div>
      </ng-virtual-scroll-view>
    </div>
  </div>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Vertical layout with overlapping scrollbar</h2>
      <ng-virtual-scroll-view #scrollView3 class="scroll-view" direction="vertical"
        [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams"
        [motionBlurEnabled]="motionBlurEnabled" [scrollbarEnabled]="true" [scrollbarThickness]="6"
        [overlappingScrollbar]="true" (onScrollReachStart)="onScrollReachStartHandler()"
        (onScrollReachEnd)="onScrollReachEndHandler()">
        <div class="scroll-view__background" [style.width.px]="3000" [style.height.px]="3000"
          [class.grabbing]="scrollView3.$grabbing | async"></div>
      </ng-virtual-scroll-view>
    </div>
  </div>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Horizontal layout with overlapping scrollbar</h2>
      <ng-virtual-scroll-view #scrollView4 class="scroll-view" direction="horizontal"
        [scrollbarThumbRenderer]="customScrollBarThumb" [scrollbarThumbParams]="customScrollBarThumbParams"
        [motionBlurEnabled]="motionBlurEnabled" [scrollbarEnabled]="true" [scrollbarThickness]="6"
        [overlappingScrollbar]="true" (onScrollReachStart)="onScrollReachStartHandler()"
        (onScrollReachEnd)="onScrollReachEndHandler()">
        <div class="scroll-view__background" [style.width.px]="3000" [style.height.px]="3000"
          [class.grabbing]="scrollView4.$grabbing | async"></div>
      </ng-virtual-scroll-view>
    </div>
  </div>

  <ng-template #customScrollBarThumb let-api="api" let-width="width" let-height="height"
    let-fillPositions="fillPositions" let-params="params">
    <custom-scrollbar [api]="api" [width]="width" [height]="height" [fillPositions]="fillPositions"
      [params]="params"></custom-scrollbar>
  </ng-template>
</div>